img{
    position: relative;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 1.5s;
}

img:hover{
    transform: scale(1.2);
}   

#menu{
    overflow: hidden;
    transition: max-height 1s ease;
}

input[type="checkbox"]:not(:checked) ~ #menu {
    max-height: 0;
}

input[type="checkbox"]:checked ~ #menu {
    max-height: 600px;
}

table{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    border-collapse: separate;
    border-spacing: 15px;
}

td{
    margin-top: 20px;
    cursor: pointer;
}

.cell {
    position: relative;
    height: 56px;
    width: 156px;

    /* vfx */
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,140,0,1) 100%);
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.cell:hover .text{
    color: white;
}
  
.cell:hover .screen{
    background-color: transparent;
}

.screen{
    position: absolute;
    height: 50px;
    width: 150px;
    top: 4px;
    left: 4px;
    background-color: white;
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}
  
.text {
    /* position & size */
    position: absolute;
    height: 50px;
    width: 150px;
    top: 4px;
    left: 4px;
    
    /* text */
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* vfx */
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,140,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s ease;
}