canvas {
    background-color:white;
    border: 1px solid black;
}

.main{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    
}

.next{
    position: absolute;
    left: 50%;
    margin-left: 130px;
}

.store{
    position: absolute;
    left: 50%;
    margin-left: -230px;
}

.score{
    position: absolute;
    left: 50%;
    margin-left: -230px;
    margin-top: 110px;
}